.card{
  display:flex;
  min-height:300px;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  max-width:90vw;
  background-color:white;
  border-radius:30px;
  padding:20px 7vw;
  overflow: hidden;
}
@media (max-width:700px){
  .card{
    width:80%;
    /* margin: 200px 50px; */
  }
}